* {
    box-sizing: border-box;
}
body{
    width: 320px;
    /* border: 2px solid red; */
    margin: 0 auto;
}
#root{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #28292e;
}
/* ---info container--- */
/* .info--container *{
    margin-top: 0px;
    margin-bottom: 0px;
} */
.info--container{
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
    margin: auto;
}
.info--icon{
    width: 320px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.info--h1{
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 25px;
    color: #fff;
}
.info--h2{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13px;
    color: darkgoldenrod;
}
.info--h3{
    margin-top: 9px;
    margin-bottom: 15px;
    font-size: 10px;
    color: #fff;
}
.buttons{
    display: in-block;
    justify-content: space-around;
}
.btn--email{
    color: #23252c;
    margin-right: 50px;
    background: #fff;
    padding: 8px 30px;
    text-decoration: none;
    border-radius: 5px;
}
.btn--linkedin{
    margin-bottom: 50px;
    background: #5093e2;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
}
/*--- about section ---*/
.about--container{
    width: 250px;
    margin: auto;
    color: #fcfcfc;
}
.about--h2{
    margin-bottom: 0px;
}
.about--container > p{
    margin-top: 5px;
    font-size: 13px;
}
/*--- interest section ---*/
.inter--container{
    width: 250px;
    margin: auto;
    color: #fcfcfc;
}
.inter--container > h2{
    margin-bottom: 0px;
}
.inter--ul{
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 13px;
}
.footer--container{
    height: 50px;
    background: #18191e;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.footer--icons{
    /* border: 2px solid green; */
    padding-top: 0px;
    margin-bottom: 0px;
    width: 250px;
    display: flex;
    justify-content: space-around;
}
.footer--icons > img{
    width: 10px;
    border: 2px solid red;
}
